* {
    margin: 0 ;
    padding: 0 ;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../img/bg.png);
    margin: 15px;
}

#container {
    background-color: #ede9cc;
}

#topo {
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}